<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tracker Price - {{regionName}}</title>
    <style>
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            background-color: #080808;
            margin: 0;
            padding: 0;
        }
        table {
            margin: 10px auto;
            border-collapse: collapse;
        }
        th, td {
            padding: 0.4vw 3vw;
            text-align: center;
            font-size: 8vw;
            color: #F7F7F7;
        }
        .last-update {
            font-size: 6vw;
            color: #878787;
            text-align: center;
        }
        .region {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 4vw;
            color: #878787;
            text-align: center;
            line-height: 1em;
        }
        .expander {
            width: 1.5em;
            height: 1em;
        }
        a {
            text-decoration: none;
        }
        .region-link {
            font-size: 4vw;
            color: #878787;
            text-align: center;
        }

        @media screen and (min-width: 1200px) {
            th, td {
                padding: 4.8px 36px;
                font-size: 96px;
            }
            .last-update {
                font-size: 72px;
            }
            .region {
                font-size: 48px;
            }
            .region-link {
                font-size: 48px;
            }
        }

        .region-selector {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: none;
        }

        .region-selector li {
            position: relative;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $(document).ready(function() {
            let isExpanded = false;
            $('.region').on("click", function() {
                const expander = $('.expander');
                expander.animate(
                        { deg: isExpanded ? 0 : 180 },
                        {
                            duration: 100,
                            step: function(now) {
                                $(this).css({ transform: 'rotate(' + now + 'deg)' });
                            }
                        }
                );
                $(".region-selector").slideToggle(100);
                isExpanded = !isExpanded;
            });
        });
    </script>
</head>
<body>
<table>
    <thead>
    <tr>
        <th></th>
        <th>⚡️</th>
        <th>🔥</th>
    </tr>
    </thead>
    <tbody>
    {{#each prices}}
        <tr>
            <td>{{this.date}}</td>
            <td>
                {{#if this.electricityPrice}}
                    {{this.electricityPrice}}p
                {{/if}}
            </td>
            <td>
                {{#if this.gasPrice}}
                    {{this.gasPrice}}p
                {{/if}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
<div class="last-update">{{lastUpdateTime}}</div>
<div class="region">
    <div>{{regionName}}</div>
    <div class="expander">&triangledown;</div>
</div>
<ul class="region-selector">
    <li>
        {{#each otherRegions}}
        <a href="{{this.link}}"><div class="region-link">{{this.regionName}}</div></a>
        {{/each}}
    </li>
</ul>
</body>
</html>
